{% extends 'store/base.html' %}
{% load static %}

{%block title%}<title>Welcome to Ecom</title>{% endblock %}

{% block content %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <p>{{message}}</p>  
  </div>
  {% endfor %}
  <h1>Product List</h1>
  <div class="row">
    {% for product in products %}
    <div class="col-lg-2 mb-2 mt-3">
      <img style="height:240px;" class="thumbnail" style="object-fit: cover;" src="{{product.image_url}}">
      <div class="box-element product">
        <h6 style="height:70px"><strong>{{product.name|title}}</strong></h6>
        <hr>
        <div class='d-flex flex-wrap justify-content-between align-items-center'>
          <div>
            <a class="btn btn-outline-success" href="{% url 'product_detail' id=product.id %}">View</a>
          </div>
          <p style="font-size: 15px"><strong>£{{product.price}}</strong></p>
        </div> 
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
