{% extends 'store/base.html' %}
{% load static %}

{%block title%}<title>Login to Ecom</title>{% endblock %}

{% block content %}
<form action="" method="POST" class="d-flex flex-column align-items-center">
  {% csrf_token %}
  <input type="hidden" name="guest" value="not-guest">
  <div class="mb-2 mt-2">
    <label class="d-block for="username">Username:</label>
    <input type="text" name="username" id="username">
  </div>
  <div class="mb-2 mt-2">
    <label class="d-block" for="password">Password:</label>
    <input type="password" name="password" id="password">
  </div>
  <input type="submit" value="Login" class="mb-3">
  {% for message in messages %}
    {{message}}
  {% endfor %}
  <p>Don't have an account <a href="{% url 'register' %}">register</a></p>
</form>
<form action="" method="POST" class="d-flex flex-column align-items-center">
  {% csrf_token %}
  <input type="hidden" name="guest" value="guest">
  <input type="submit" value="Continue as Guest" style="border:none;background:none;text-decoration: underline;color:#0B58CA">
</form>

{% endblock %}
