{% extends 'store/base.html' %}
{% load static %}

{%block title%}<title>Signup to Ecom</title>{% endblock %}

{% block content %}
<form action="" method="POST" class="edit-form">
  {% csrf_token %}
  {% for field in form %}
    <div class="mb-2 mt-2">
      {{field.label}}:
      <p>{{field}}</p>
    </div>
  {% endfor %}
  {{form.errors}}
  <input type="submit" value="register" class="mb-4">
  <p>Have an account? <a href="{% url 'login' %}">Login</a></p>
<a href="{% url 'index' %}">Continue as guest</a>
</form>

{% endblock %}
